body {
  background: #f2fbff;
}

div.avatar > img {
  border-radius: 50%;
}

div.container.profile {
  padding: 0 15px;
}

.center {
  text-align: center;
}

.no-marging {
  margin: 0 !important;
}

.relative {
  position: relative;
}

.absolue {
  position: absolute;
}

div.profile-row {
  margin-top: 25px;
}

#changePhotoButton {
  margin-top: 15px;
}

#avatar-col {
  padding: 10px 25px 0 0;
}

.absolue.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
}

div.alert {
  width: 40%;
}

.alert-col {
}

.alert-col > .alert {
  padding: 10px;
  border-radius: 0;
  transition: all 0.5s ease;
  opacity: 0;
}

.alert-col > .alert.display {
  opacity: 1;
}

hr {
  height: 2px;
}

.content-right > * {
  float: right;
}

.form-btn {
  min-width: 100px;
  margin: 0 5px;
  max-width: 150px;
}

img.avart-img {
  max-width: 150px;
}

div.avatar-bg {
  /*background: url(https://www.gravatar.com/avatar/1234566?size=200&d=mm);*/
  background-position: 50% 50%;
  height: 150px;
  width: 150px;
  background-size: cover;
  border-radius: 50%;
  margin-left: calc(50% - 75px);
}

div.avatar {
}

label {
    margin-top: .5rem;
    margin-bottom: .25rem;
}

.card {
  /*display: none;*/
  border: none;
}

.item-1.collapse.show {
   border: 1px solid rgba(0,0,0,.125);
}

.card-header {
  background: #f2fbfe;
  margin-top: 5px;
  padding: .75rem .25rem;
  text-align: left;
  width: 100%;
}

#avatar-col > div:nth-child(4) > div {
  margin-top: 15px;
}

a.accordion {
    transition: 0.4s;
}

a.accordion.active, a.accordion:hover {
    background-color: #ddd;
}

a.accordion:after, a.toggle:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

a.accordion.active:after, a.toggle.active:after {
    content: "\2212";
}

div.panel {
    display: none;
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}
